/* ----general */
*{
	box-sizing: border-box
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	background: #f6fbff;
	line-height: 1.6;
}
/* ---- Header */
.opening {
	background: linear-gradient(0deg, #021f4a, #0b3d91);
	color: #e8f2ff;
	padding: 1.5em;
	text-align: center;
}

.opening h1{
	margin: 0.2em 0;
	color: #C9E4CA;
	text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.5);
	font-size: 50px;
	font-weight: bold;
	animation: glow 2s infinite;
}
@keyframes glow {
	0%{
		text-shadow: 2px 2px 4px rgba(255, 0, 255, 0.5);
	}
	0%{
		text-shadow: 2px 2px 4px rgba(255, 0, 255, 0.5);
	}
	50%{
		text-shadow: 2px 2px 10px rgba(0, 255, 255, 1);
	}
	100%{
		text-shadow: 2px 2px 4px rgba(255, 255, 0, 0.5);
	}
}
.opening nav a {
	color: #c7d8ff;
	margin: 0 0.75em;
}
.opening nav a:hover {
	color: #ffffff;
	text-decoration: underline;
}
/* ---- content*/

#content {
	padding: 1.5em;
	text-align: center;
}

#content h1 {
	font-size: 40px;
	font-weight: bold;
	background: linear-gradient(to right, #ff69b4,  #0b3d91, #00ff00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.Intro {
	text-align: center;
  margin-top: 2em;
  min-width: 100px;
  background: linear-gradient(20deg, #c7d8ff, #ffffff);
  padding: 4em;
  border-radius: 40px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
 
}
.Intro h2 {
  font-size: 35px;
  color: #0b3d91;
 text-shadow: 2px 2px 4px rgba(122, 40, 138, 0.5);

}

footer {
  flex: 1 1 100%;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  background: #0b3d91;
  color: white;
  border-radius: 20px;
}























