/* ----general
#f6fbff = light blue 
#032046 = dark blue
#CCDDEE = lilac blue
#e8f2ff = almost white
#ffffff = white
#DDEEFF = baby blue
#0b3d91 = dark navy blue
#021f4a = ver dark blue 
#f6fbff = white ??
rgba(0,0,0,0.12) idk transparent 
#ffd700 - bright yellow

*/

body {
	background: linear-gradient(to bottom, #021f4a, #CCDDEE);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.rounded {
	border-radius: 20px;
}

header {
	font-family: system-ui, sans-serif;
	text-align: center;
	background-color: #CCDDEE;
	padding:30px;
}

header h1 {
	margin: 0.2em 0;
	color: #021f4a;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header, nav, main {
	border: 5px solid rgba(0,0,0,0.12);
}

nav {
	text-align: center;
	background-color: #DDEEFF;
	padding: 30px;
	margin-top:20px;
}
nav a {
	margin: 25px;
	color: #0b3d91;
	margin: 0 0.75em;
}
nav a:hover {
	color: #ffffff;
	text-decoration: underline;
}

main {
	background-color: #CCDDEE;
	padding: 20px;
	margin-top:20px;
}
section {
	background: linear-gradient(to bottom right, #FFFF99, #f7dc6f,  goldenrod);
	padding: 10px 20px;
	margin-top: 20px;
	box-shadow: 5px 5px 5px #555;
}
/* ----general
#f6fbff = light blue 
#032046 = dark blue
#CCDDEE = lilac blue
#e8f2ff = almost white
#ffffff = white
#DDEEFF = baby blue
#0b3d91 = dark navy blue
#021f4a = ver dark blue 
#f6fbff = white ??
rgba(0,0,0,0.12) idk transparent 
#ffd700 - bright yellow

*/
section h2{
  margin-top: 0;
  font-size: 48px;
  font-weight: bold;
   color: #0b3d91;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom, #DDEEFF, #032046, #021f4a );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 2s infinite;
  
}
	
section p {
	 margin-top: 0;
  font-size: 25px;
  font-weight: bold;
   color: #0b3d91;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}
@keyframes glow {	
	0% {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
     }
	 0% {
	text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
	 }
	 50% {
		 text-shadow: 2px 2px 8px rgba(137, 207, 240, 0.8);
	 }
	 100%{
		 text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
	 }
}

section p {
	font-style: italic;
}

#wrapper {
	width: 90%;
	margin: 30px auto;
}
footer{
	text-align: center;
	padding: 30px;
	font-family: Courier New, Courier, monospace;
}

